body {
  font-family: "Times New Roman", serif;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1.6;
}

/* --- container--- */
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 40px auto;
  max-width: 1400px;
  gap: 40px; 
}

/* --- left side --- */
.content {
  width: 70%;
  background-color: #fff;
}

.content h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 15px;
}

.image {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 6px;
}


/* --- right side --- */
.sidebar {
  width: 28%;
  background: #fafafa;
  border-left: 2px solid #ddd; 
  padding: 20px;
  border-radius: 6px;
}

.sidebar h2 {
  text-align: center;
  background-color: #f0f0e0;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  color: green;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 30px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 16px;
}

/* --- task 1--- */
@media (max-width: 600px) {
  .content h1 { font-size: 20px; }
  .content p { font-size: 14px; }
  .sidebar li { font-size: 14px; }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .content h1 { font-size: 24px; }
  .content p { font-size: 16px; }
  .sidebar li { font-size: 15px; }
}

/* --- task 2 cards --- */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.product-card {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.product-info {
  padding: 12px;
  text-align: left;
}

.product-color {
  font-size: 12px;
  color: #ef0000;
  display: block;
  margin-bottom: 6px;
  text-decoration: underline;
}

.product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-brand {
  font-size: 14px;
  font-weight: bold;
  color: #670000;
  margin: 0;
}

.product-price {
  font-size: 14px;
  color: #003cff;
}

.product-desc {
  font-size: 13px;
  color: #b600ed;
  margin-top: 4px;
}

.descBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #ff0000;
  color: #fff;
  border: none;
  border-radius: 7px;
  width: 40px;
  height: 24px;
  font-size: 15px;
  cursor: pointer;
  transition: scale 0.3s ease;
}

.add-to-cart:hover {
  background: #cc0000;
}

/* --- responsive Layout --- */
@media (max-width: 1024px) {
  .page-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .content, .sidebar {
    width: 90%;
  }

  .sidebar {
    border-left: none;
    border-top: 2px solid #ddd;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
} 

.back a{
    font-size: 30px;
    text-decoration: none;
    justify-content: center;
    color: #969901;
}